@import url("root.css");
@import url("layouts.css");
@import url("classes.css");

.App
{
    height: 100vh;
}

.content,main
{
    height: 100%;
}

// resources ui //

.table
{
    width: 70%;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: rgba(47, 0, 92, 0.1) 0px 1px 1px 0px inset, rgba(47, 0, 92, 0.25)0px 50px 100px -20px, rgba(47, 0, 92, 0.358) 0px 30px 60px -30px;
}

.resources-table
{
  
}

.table-title
{
    // background:linear-gradient(to left,rgb(122, 0, 204),rgb(78, 0, 151),rgb(60, 0, 128));
    // color: white;
    font-size: 14px;
    color: purple;
    box-shadow: rgba(60, 0, 128, 0.123) 0px 10px 10px;
    border-radius: 1rem;
    padding: 0.6rem;
}

.tool-link
{
    color: purple;
    text-decoration: none;
}

.btn-tool 
{
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tool-create
{
    background:linear-gradient(to left,rgb(122, 0, 204),rgb(138, 30, 238),rgb(93, 1, 197));
    color: white;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
}

.tool-create:hover
{
    padding: 0.8rem 3rem;
    opacity: 0.8;
}

.resource
{
    padding: 0.6rem 2rem;
    color: rgb(63, 0, 92);
    border-bottom: 1px solid rgba(117, 1, 163, 0.164);
    background-color: rgb(253, 250, 255);
    transition: all 0.3s cubic-bezier(0.485, 0.135, 0.15, 0.86);
}

.resource:hover
{
    color: white;
    background-color: rgba(87, 0, 168, 0.952);
    cursor: pointer;
}

// .resource:nth-child(2n+1)
// {
//     color: white;
//     background-image: linear-gradient(to left,rgb(99, 0, 165),rgb(78, 0, 151),rgb(60, 0, 128));
// }

.block
{
    width: 100%;
}

.tool
{
    padding: 1.15rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(99, 0, 197, 0.795);
    margin-left: 1rem;
    cursor: pointer;
}

// .delete
// {
//     background-color: rgba(255, 0, 0, 0.137);
//     color: red;
//     border: 1px solid rgb(255, 0, 0);
// }

// .update
// {
//     background-color: rgba(0, 4, 255, 0.137);
//     color: rgb(0, 4, 255);
//     border: 1px solid rgb(0, 17, 255);
// }