@import url("root.css");
@import url("layouts.css");

.nav-bar,.rm-nav-bar{
    height: 70px;
    z-index: 999;
}

.nav-bar
{
    background-image: linear-gradient(to left,#422168,rgb(40, 0, 134),rgb(0, 19, 105));
}

.rm-nav-bar
{
    background-image: linear-gradient(to left,rgb(99, 0, 165),rgb(40, 0, 134),rgb(0, 19, 105));
}

.logo
{
    color: white;
    font-size: 18px;
}

.link-container{
    margin: 0 1rem;
}

.link{
    font-size: 14px;
    color: white;
}

.icon
{
    font-size: 18px;
    color: white;
    padding: 0.7rem 0.75rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.icon:hover
{
    background-color: rgba(132, 0, 255, 0.8);
}