@import url('./layouts.css');

form{}
label{width: 100%;}
input{width: 100%;}

.popup,.abstract-popup
{
    position: absolute;
    top: 35%;
    width: 600px;
    // width: 600px;
    // width: 500px;
    height: 250px;
    z-index: 999 !important;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.35rem;
    box-shadow: rgba(47, 0, 92, 0.1) 0px 1px 1px 0px inset, rgba(47, 0, 92, 0.25) 0px 50px 100px -20px, rgba(47, 0, 92, 0.358) 0px 30px 60px -30px;
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.abstract-popup
{
    height: fit-content;
    overflow: hidden;
    padding: 1.5rem 2rem;
    padding-top: 5rem;
    // border-radius: 2rem 1rem 0.6rem;
    top:  50%;

    label
    {
        width: fit-content;
        font-size: 12px;
        border-radius: 0.5rem;
        background:linear-gradient(to left,rgb(108, 0, 196),rgb(94, 0, 156),rgb(91, 0, 124));
        color: #fff;
        padding: 0.5rem 1rem;
    }

    .sys-form-input
    {
        color: rgb(91, 0, 124);
        width: 100% !important;
        padding: 0.5rem !important;
        margin: 1.5rem 0;
        // border-radius: 0.5rem;
        border: 1px solid rgba(94, 0, 156, 0.199);
    }
}

.drop-down
{
    position: absolute;
    top: 125px;
    overflow: hidden;
    // width: 120px;
     // width: 600px;
    // width: 500px;
    z-index: 999 !important;
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: 0.35rem;
    box-shadow: rgba(47, 0, 92, 0.1) 0px 1px 1px 0px inset, rgba(47, 0, 92, 0.25) 0px 50px 100px -20px, rgba(47, 0, 92, 0.358) 0px 30px 60px -30px;
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

    .link
    {
        user-select: none;
        color: black;
        padding: 0.6rem 100%;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover
        {
            color: white;
            background: #47017dcb;
        }
    }
}

.form-row{
    width: 100%;
    padding: 0.1rem;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}

.form-head
{
    position: absolute;
    text-align: center;
    padding: 1rem;
    top: 0;
    width: 100%;
    left: 0;
    color: #fff;
    background: linear-gradient(to left,rgb(108, 0, 196),rgb(94, 0, 156),rgb(91, 0, 124));
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid rgba(94, 0, 156, 0.448);
}

.form-input,.form-btn{
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.15rem;
}

.form-btn{
    padding: 0.5rem;
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(119, 45, 255);
    color: white;
}